:root {
    --bg-beige: #FFE7BD;
    --bg-brown: #2B1F18;
    --accent: #F28A0F;
    --txt-black: #333;
    --txt-white: #fff;
    --txt-grey: #666;
    
    --font-serif: 'DM Serif Display', serif;
    --font-sans: 'Lato', sans-serif;
}

@media (max-width: 700px) {
    .lounge-interface {
        width: 100%; 
    }
    .image-block{
        width: 350px;
        
    }
    .main-footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .social{
        display: block;
        font-size: larger;
        word-spacing: 10px;
    }
    .main-lounge{
        flex-direction: column;
        max-width: 55vb;
        gap: 15px;
        padding: 1rem;
    }
    .reviews-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
        .main-headline {
        font-size: 2.2rem;
    }


    .centerpiece {
        width: 80%;        
    }
    .header-content {
        flex-direction: column;
        gap: 1.5rem;
    }

    .content {
        flex-direction: column;
        gap: 3rem;
        padding: 2rem 3rem;
    }
    article.content{
        padding: 0.5rem 1rem;
        text-align: center;
    }
    

    .main-headline {
        font-size: 2.8rem;
    }
    
    .page-title {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-right: 0;
    }
    .quote {
        border-left: none;
        border-top: 3px solid var(--accent);
        padding-left: 0;
        padding-top: 1rem;
        display: inline-block;
    }

    .buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .image-block {
        width: 100%;
    }
}