* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-beige: #FFE7BD;
    --bg-brown: #2B1F18;
    --accent: #F28A0F;
    --txt-black: #333;
    --txt-white: #fff;
    --txt-grey: #666;
    
    --font-serif: 'DM Serif Display', serif;
    --font-sans: 'Lato', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: var(--font-sans);
    background-color: var(--bg-beige);
    color: var(--txt-black);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

#turntable-container {
    position: relative;
    min-height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/strawberrywine.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}
#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-serif);
    color: var(--txt-white);
    font-size: 1.5rem;
    letter-spacing: 2px;
    z-index: 10;
    text-align: center;
    transition: opacity 0.5s ease;
}

.song-form{
    display: flex;
    flex-direction: column;
    font-family: var(--font-sans);
    gap: 10px;
    width: 30%;
    min-width: 300px;
    padding: 2rem;
    border-radius: 12px;
    background-color: var(--bg-brown);
    color: var(--txt-white);
    border: 3px solid var(--accent);
}
.song-form h2{
    font-family: var(--font-serif);
    font-weight: bold;
    font-size: larger;
}

.song-form label{
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-family: var(--font-sans);
    color: var(--txt-white);

}
.song-form button {
    margin-top: 10px;
    padding: 12px;
    background-color: var(--accent);
    color: var(--bg-brown);
    font-weight: bold;
    font-size: larger;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: var(--font-sans);
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}
.song-form button:hover{
    background-color: var(--bg-beige);
}

.song-form button:active{
    background-color: #e2b57e;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
}

.lounge-interface{
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    
}
.main-lounge{
    gap: 130px;
    align-items: center;
    justify-content:space-around;
    display: flex;
    width: 100%;
    padding: 3rem;
}
.lounge-info{
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 15px;
}

.main-header {
    background-color: var(--bg-brown);
    color: var(--txt-white);
    padding: 1.5rem;
    border-bottom: 5px solid var(--accent);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--bg-brown);
    color: var(--txt-white);
    border-top: 5px solid var(--accent);
}

.social{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-right: 20px;
}
footer a {
    color: var(--accent)
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.vinyl-icon {
    font-size: 3rem;
    color: var(--accent);
    animation: spin 5s linear infinite;
}

@keyframes spin { 100% { transform: rotate(360deg); } }

.logo-text .site-title {
    font-family: var(--font-serif);
    font-size: 1.8rem;
    letter-spacing: 2px;
    line-height: 1;
    color: var(--accent);
}

.logo-text .site-subtitle {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #aaa;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.main-nav a {
    text-decoration: none;
    color: var(--txt-white);
    font-weight: 700;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.main-nav a:hover,
.main-nav a.active {
    color: var(--accent);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    gap: 3rem;
}
article.content {
    flex-direction: column;
}

.content section{
    text-align: center;
}
.text-block {
    flex: 1;
    max-width: 600px;
}

.main-headline {
    font-family: var(--font-serif);
    font-size: 4rem;
    line-height: 1.1;
    color: var(--txt-black);
    margin-bottom: 1.5rem;
}

h1.main-headline{
    color: var(--txt-white);
    display: flex;
    justify-content: center;
    text-align: center;
}
span.main-headline{
    color: var(--accent);
}

.quote {
    font-style: italic;
    border-left: 3px solid var(--accent);
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    color: var(--txt-grey);
}

.description {
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.centerpiece {
    padding: 4rem 0;
    width: 60vw;  
    margin-inline: auto;
    align-self: center;
}

.image-block {
    width: 500px;
    border-radius: 12px;
    border: 5px solid var(--bg-brown);
}

.song-daily{
    padding: 1.5rem;
    background-color: var(--bg-brown);
    color: var(--txt-white);
    font-family: var(--font-serif);
    border-radius: 12px;
    border: 3px solid var(--accent);

}

.image-placeholder {
    width: 100%;
    height: 100%;
    background-color: var(--bg-beige);
    border-radius: 10px;
}

.page-title {
    font-family: var(--font-serif);
    color: var(--bg-brown);
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--accent);
    display: inline-block;
    padding-right: 20px;
}

.reviews-grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    padding-bottom: 60px;
}

.review-card {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    background-color: var(--bg-beige);
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 6px 7px, var(--bg-brown);
    transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

.review-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 18px var(--bg-brown);
    border-color: var(--accent);
}

.album-cover {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--bg-brown);
    overflow: hidden;
}

.album-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-background {
    --bg-image: url('');
    color: var(--txt-white);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), var(--bg-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 60px 20px;
    align-items: start;
}
.ipce {
    --bg-image: url('../images/ipce.jpg');
}
.dsotm {
    --bg-image: url('../images/thedarkside.jpeg');
}
.lziv {
    --bg-image: url('../images/zeppelin4.jpg');
}

.rumours {
    --bg-image: url('../images/rumours.jpeg');
}

.balegari {
    --bg-image: url('../images/balegari.jpeg');
}

.pips {
    --bg-image: url('../images/shimpoo.jpg');
}

.mbv {
    --bg-image: url('../images/mbv.jpg');
}
.kino {
    --bg-image: url('../images/kino.jpeg');
}

.review-card:hover .album-cover img {
    transform: scale(1.05);
}

.card-details {
    background-color: var(--txt-white); 
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.album-title {
    font-family: var(--font-serif);
    font-size: 1.4rem;
    color: var(--txt-black);
    line-height: 1.1;
    margin-bottom: 2px;
}

.artist-name {
    font-family: var(--font-sans);
    font-size: 0.95rem;
    color: var(--txt-grey);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
h3.artist-name {
    color: var(--txt-white);
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.star-rating {
    color: var(--accent);
    font-size: 0.9rem;
    margin-top: 5px;
}
.star-rating-detail {
    color: var(--accent);
    font-size: 1.5rem;
    margin-bottom: 15px;
    width:135px;
    margin-inline: auto;
    align-self: center;
}